* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 20px;
    background-color: rgb(65, 65, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    color: blanchedalmond;
}

.pag {
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(84, 95, 104);
    padding: 10px;
    border-radius: 15px;
}